<div class="col-md-4 col-md-offset-2 col-xs-6">
  <div class="social-icon-list-left">
    {% if site.twitter_user %}
    <a title="Twitter" href="https://twitter.com/{{ site.twitter_user }}"><img src="{{ site.root }}images/glyphicons_social_31_twitter.png" alt="@ajbw" title="@ajbw" /></a>
    {% endif %}
    {% if site.github_user %}
    <a title="GitHub" href="https://github.com/{{ site.github_user }}"><img src="{{ site.root }}images/glyphicons_social_21_github.png" alt="GitHub" title="GitHub" /></a>
    {% endif %}
    {% if site.linkedin_user %}
    <a title="LinkedIn" href="https://linkedin.com/in/{{ site.linkedin_user }}"><img src="{{ site.root }}images/glyphicons_377_linked_in.png" alt="LinkedIn" title="LinkedIn" /></a>
    {% endif %}
    {% if site.email %}
    <a title="E-Mail" href="mailto:{{ site.email }}"><img src="{{ site.root }}images/glyphicons_social_39_e-mail.png" alt="alexandra@spillane.me" title="alexandra@spillane.me" /></a>
    {% endif %}
  </div>
</div>

<div class="col-md-4 col-xs-6">
  <div class="social-icon-list-right">
    <a href="http://octopress.org/"><img src="{{ site.root }}images/glyphicons_063_power.png" alt="Powered by Octopress" title="Powered by Octopress" /></a>
    <a href="http://AdrianArtiles.com"><img src="{{ site.root }}images/glyphicons_050_link.png" alt="Designed by Adrian Artiles" title="Designed by Adrian Artiles" /></a>
  </div>
</div>
