<article>
  <h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
  <p class="meta">
    written {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
    {% include post/categories.html %}
  </p>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {{ content | excerpt | markdownify }}

  {% if excerpted == 'true' %}
    <a class="full-article-link pull-right" rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  {% else %}
    <a class="read-on-icon pull-right" href="{{ root_url }}{{ post.url }}"><img src="/images/glyphicons_001_leaf.png" /></a>
  {% endif %}
</article>
